# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    
    if a%2 ==0 and b%2 ==0:           #Check if Even
        
        if a > b:                     #Return Smaller
            
            return b
        
        else:
            
            return a
    
    else:
        
        if a > b:                     #if not even return Larger
            
            return a
        
        else:
            
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    
    x = text.split(' ')               #split text
    
    for i in x:
        
        if x[0][0] == x[1][0]:         #check if each letter in first word same as first letter in second word
            
            return True
        
        else:
            
            return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    
    if n1+n2 == 20:                #Check if sum equals 20
        
        return "True"
    
    elif n1 == 20 or n2 == 20:     #Checks if any of the numbers is equal 20
        
        return "True"
    
    else:
        
        return "False"

In [8]:
# Check
makes_twenty(20,10)

'True'

In [9]:
# Check
makes_twenty(2,3)

'False'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [10]:
def old_macdonald(name):
    
    name= name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]   #Rewrite name with each letter choosen by index
    
                                                                               # is captailized
    
    return name

In [11]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [37]:
def almost_there(n):
    
    if n>= 90 and n<=100:                           #Each condition checks limit of number if any are within nu,ber return true
        
        return True
    
    elif n>=100 and n<=110:
        
        return True
    
    elif n>=190 and n<=200:
        
        return True
    
    elif n>=200 and n<=210:
        
        return True
    
    else:                                   #In case number is outside the limit Return False
        
        return False

In [13]:
# Check
almost_there(104)

True

In [14]:
# Check
almost_there(150)

False

In [15]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [16]:
def has_33(nums):
    
    for x in range(0,len(nums)-1):             #Loop inside list
        
        if nums[x] == 3 and nums[x+1] == 3:    #if a value in list is equal to the next value in list equal 3 return true
            
            return True
        
    return False

In [17]:
# Check
has_33([1, 3, 3])

True

In [18]:
# Check
has_33([1, 3, 1, 3])

False

In [19]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [38]:
def paper_doll(text):
    
    txt=str()                  #Declare a string
    
    for i in text:             #for every letter in TEXT
        
        for x in range(3):     #Add that letter 3 times in new string
            
            txt=txt+i
            
    return txt

In [21]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [22]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [23]:
def blackjack(a,b,c):
    
    sum = 0
    
    if a+b+c <= 21:                          #If sum is smaller than 21 or equal return Sum of numbers
        
        sum = a+b+c
        
        return sum
    
    elif a == 11 or b == 11 or c == 11:     #If any of the numbers is 11, calculate sum then lower it by 10 then return it
        
        sum = (a+b+c)-10
        
        if sum > 21:                        #if sum still larger than 21  then return "Bust" message instead of Sum
            
            return "Bust"
        
        return sum
    
    elif a+b+c > 21:                       
        
        return "Bust"

In [24]:
# Check
blackjack(5,6,7)

18

In [25]:
# Check
blackjack(9,9,9)

'Bust'

In [26]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [27]:
def summer_69(arr):
    
    summ = 0                        #the Returning value
    
    nope = True                     #declare a flag
    
    for i in arr:
        
        if nope == False and i == 9:  # if flag is False and value is 9 Add following Numbers to sum
            
            summ = summ -9
            
            nope = True
        
        if nope == True :            #if flag is True add numbers to Sum
            
            summ = summ+i
        
        if i == 6 :                 #if value is 6 stop addicng to the sum until you meet a 9
            
            nope = False
            
            summ = summ - i
                
    return summ

In [28]:
# Check
summer_69([1, 3, 5])

9

In [29]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [30]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [31]:
def spy_game(nums):
    
    count = 0                 #Value set to decalre if number is
    
    for i in nums:
        
        if i == 0:            #sjfLk
            
            count = count +1
            
        if count == 2:
            
            if i == 7:
                
                return True
            
    return False

In [32]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [33]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [34]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [35]:
def count_primes(num):
       
    i = 0
    
    for x in range(num+1):
        
        if x <=1:
            
            continue
            
        if x == 2:
            
            i=1
            
            continue
            
        for n in range(2,x):
            
            if x % n == 0:
                
                break
        else:
            
            i +=1
            
    return i

In [36]:
# Check
count_primes(100)

25

## Great Job!